@font-face {
  font-family: Hauora;
  src: local(/src/fonts/Hauora-Bold);
  font-weight: 600;
}

@font-face {
  font-family: Hauora;
  src: local(/src/fonts/Hauora-ExtraBold);
  font-weight: 900;
}

@font-face {
  font-family: Hauora;
  src: local(/src/fonts/Hauora-SemiBold);
  font-weight: 700;
}

@font-face {
  font-family: Hauora;
  src: local(/src/fonts/Hauora-Medium);
  font-weight: 500;
}

@font-face {
  font-family: Hauora;
  src: local(/src/fonts/Hauora-Regular);
  font-weight: 400;
}

body {
  font-family: Hauora, Helvetica, Arial, sans-serif;
  color: #2C436D;
  font-weight: 500;
  font-size: 14px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
}

h3 {
  font-weight: 700;
  font-size: 20px;
}

h4 {
  font-weight: 400;
  font-size: 18px;
}

h5 {
  font-weight: 400;
  font-size: 16px;
}

h6 {
  font-weight: 400;
  font-size: 13px;
}