.head-banner {
    width: auto;
    height: 214px;
    background-color: #FDDEA4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-logo {
    width: 582px;
    height: auto;
}